@model AddressModel

<form method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Input.AddressLine1"></label>
            <input class="form-control" asp-for="Input.AddressLine1" placeholder="Address Line 1">
            <span asp-validation-for="Input.AddressLine1" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Input.AddressLine2"></label>
            <input class="form-control" asp-for="Input.AddressLine2" placeholder="Address Line 2">
            <span asp-validation-for="Input.AddressLine2" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-1">
            <label asp-for="Input.Number"></label>
            <input class="form-control" asp-for="Input.Number" placeholder="1, 21B...">
            <span asp-validation-for="Input.Number" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Input.City"></label>
            <input class="form-control" asp-for="Input.City" placeholder="City">
            <span asp-validation-for="Input.City" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Input.PostalCode"></label>
            <input class="form-control" asp-for="Input.PostalCode" placeholder="Postal Code: 20020...">
            <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Input.Country"></label>
            <select class="form-select" aria-label="Select country" asp-for="Input.Country" asp-items="Model.Countries">
            </select>
            <span asp-validation-for="Input.Country" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>