@using Microsoft.Extensions.Localization
@model AddressModel
@inject IStringLocalizer<AddressModel> localizer

<div class="form-row">
    <div class="form-group col-md-6">
        <label asp-for="Input.AddressLine1"></label>
        <input class="form-control" asp-for="Input.AddressLine1" placeholder="Address Line 1" id="update-address1-line1">
        <span asp-validation-for="Input.AddressLine1" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Input.AddressLine2"></label>
        <input class="form-control" asp-for="Input.AddressLine2" placeholder="Address Line 2" id="update-address1-line2">
        <span asp-validation-for="Input.AddressLine2" class="text-danger"></span>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-2">
        <label asp-for="Input.Number"></label>
        <input class="form-control" asp-for="Input.Number" placeholder="1, 21B..." id="update-address1-number">
        <span asp-validation-for="Input.Number" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Input.City"></label>
        <input class="form-control" asp-for="Input.City" placeholder="City" id="update-address1-city">
        <span asp-validation-for="Input.City" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Input.PostalCode"></label>
        <input class="form-control" asp-for="Input.PostalCode" placeholder="Postal Code: 20020..." id="update-address1-postal-code">
        <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label asp-for="Input.StateProvince"></label>
        <input class="form-control" asp-for="Input.StateProvince" placeholder="CA, NY, ..." id="update-address1-state-province">
        <span asp-validation-for="Input.StateProvince" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="Input.Country"></label>
        <select class="form-select" aria-label="Select country" asp-for="Input.Country" asp-items="Model.Countries" id="update-address1-country">
        </select>
        <span asp-validation-for="Input.Country" class="text-danger"></span>
    </div>
</div>

<button type="button" class="btn btn-primary" id="update-address-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
        <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
    </svg>
    Save
</button>