@page
@using DeliveryWebApp.Domain.Constants
@using DeliveryWebApp.Infrastructure.Security
@using IdentityServer4.Extensions
@model DeliveryWebApp.WebUI.Areas.Identity.Pages.Account.Manage.RequestModel
@{
    ViewData["Title"] = "Change User Role Request";
}

<h4>@ViewData["Title"]</h4>

@* TODO: push notifications and localize and toasts*@

<h6>If you want to become a rider or a restaurateur and manage your own restaurant, send a request to the system admin</h6>
<br/>
<form method="post">
    <div class="form-group col-md-3">
        <label asp-for="Input.Role"></label>
        <select class="form-select" aria-label="Select role" asp-for="Input.Role" asp-items="Model.Roles">
        </select>
        <span asp-validation-for="Input.Role" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<hr/>
@if (Model.UserRequest != null)
{
    @switch (Model.UserRequest.Status)
    {
        case RequestStatus.Idle:
            <div class="alert alert-primary" role="alert">
                <p>Your request to become a @Model.UserRequest.Role has been sent, please wait the administrator.</p>
            </div>
            break;

        case RequestStatus.Accepted:
            <div class="alert alert-success" role="alert">
                <p>Your request to become a @Model.UserRequest.Role has been accepted!</p>

                @if (Model.UserRequest.Role == RoleName.Rider)
                {
                    <p>You are ready to go!</p>
                }
                else
                {
                    <a class="alert-link" asp-page="/RestaurateurPages/RestaurantDashboard">Please click here to begin</a>
                }
            </div>
            break;

        case RequestStatus.Rejected:
            <div class="alert alert-danger" role="alert">
                <p>Your request to become a @Model.UserRequest.Role has been rejected :(</p>
            </div>
            break;
    }
}
