@page
@using DeliveryWebApp.Infrastructure.Identity
@using DeliveryWebApp.Infrastructure.Security
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<IndexModel> localizer
@inject UserManager<ApplicationUser> UserManager
@inject IAuthorizationService AuthorizationService
@{
    var isRestaurateur = (await AuthorizationService.AuthorizeAsync(User, PolicyName.IsRestaurateur)).Succeeded;
    var isRider = (await AuthorizationService.AuthorizeAsync(User, PolicyName.IsRider)).Succeeded;
    var isDefault = (await AuthorizationService.AuthorizeAsync(User, PolicyName.IsDefault)).Succeeded;
    var isAdmin = User.IsInRole(RoleName.Admin);
    ViewData["Title"] = localizer["Home page"];
}

<div class="text-center">
    @* TODO: insert register as rider, add restaurant like ubereats *@
    @if (isAdmin)
    {
        <h1 class="display-4">@localizer["Welcome Administrator"]</h1>
        <img src="/icons/undraw_Profile_re_4a55.svg" alt="admin" height="520" width="520" class="text-center" />
    }
    @if (isRider)
    {
        <h1 class="display-4">Welcome</h1>
    }
    @if (isRestaurateur)
    {
        <h1 class="display-4">Welcome</h1>
    }
    @if (isDefault)
    {
        <h1 class="display-4">Welcome</h1>
    }

    @* TODO: Update this page *@
</div>
