@page
@using Microsoft.Extensions.Localization
@model ConfirmEmailChangeModel
@inject IStringLocalizer<ConfirmEmailChangeModel> localizer
@{
    ViewData["Title"] = localizer["Confirm email change"];
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />