@using DeliveryWebApp.Infrastructure.Identity
@using DeliveryWebApp.Infrastructure.Security
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IAuthorizationService AuthorizationService

@{
    var isRestaurateur = (await AuthorizationService.AuthorizeAsync(User, PolicyName.IsRestaurateur)).Succeeded;
    var isRider = (await AuthorizationService.AuthorizeAsync(User, PolicyName.IsRider)).Succeeded;
    var isDefaultUser = (await AuthorizationService.AuthorizeAsync(User, PolicyName.IsDefault)).Succeeded;
    var isAdmin = User.IsInRole(RoleName.Admin);
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            @*<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>*@
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" asp-area="Identity" asp-page="/Account/Manage/Index" data-bs-toggle="dropdown" aria-expanded="false" title="Manage">
                    <span class="visually-hidden">Toggle Dropdown</span>
                    @User.Identity.Name
                </button>
                
                <ul class="dropdown-menu">
                    @if (isRestaurateur)
                    {
                        <li><a class="dropdown-item">Restaurant</a></li>
                        <li><a class="dropdown-item">Products</a></li>
                    }
                    @if (isRider)
                    {
                        <li><a class="dropdown-item">Credit</a></li>
                        <li><a class="dropdown-item">Orders</a></li>
                        <li><a class="dropdown-item">Delivery History</a></li>
                    }
                    @if (isDefaultUser)
                    {
                        <li><a class="dropdown-item">Order History</a></li>
                    }
                    @if (isAdmin)
                    {
                        <li><a class="dropdown-item">User Requests</a></li>
                        <li><a class="dropdown-item">User list</a></li>
                        <li><a class="dropdown-item">Orders</a></li>
                    }
                <li>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new {area = ""})" method="post">
                        <button type="submit" class="nav-link btn btn-link text-dark" title="Logout">
                            Logout
                        </button>
                    </form>
                </li>

                </ul>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
