@using DeliveryWebApp.Infrastructure.Identity
@using DeliveryWebApp.Infrastructure.Security
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IAuthorizationService AuthorizationService

@{
    var isRestaurateur = (await AuthorizationService.AuthorizeAsync(User, PolicyName.IsRestaurateur)).Succeeded;
    var isRider = (await AuthorizationService.AuthorizeAsync(User, PolicyName.IsRider)).Succeeded;
    var isClient = (await AuthorizationService.AuthorizeAsync(User, PolicyName.IsEnabled)).Succeeded;
    var isAdmin = User.IsInRole(RoleName.Admin);
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    @User.Identity.Name
                </button>

                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a>
                    </li>

                    @if (isRestaurateur)
                    {
                        <li>
                            <a class="dropdown-item" asp-page="/Restaurateur/RestaurantDashboard">Dashboard</a>
                        </li>
                        @*<li>
                            <a class="dropdown-item">Products</a>
                        </li>*@
                    }
                    @if (isRider)
                    {
                        <li>
                            <a class="dropdown-item">Credit</a>
                        </li>
                        <li>
                            <a class="dropdown-item">Open Orders</a>
                        </li>
                        <li>
                            <a class="dropdown-item">Delivery History</a>
                        </li>
                    }
                    @if (isClient)
                    {
                        <li>
                            <a class="dropdown-item" asp-page="/Customer/Orders">Order History</a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Request">Role request</a>
                        </li>
                    }
                    @if (isAdmin)
                    {
                        <li>
                            <a class="dropdown-item" asp-page="/Admin/Requests">User Requests</a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-page="/Admin/UserList">User List</a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-page="/Admin/Orders">Orders</a>
                        </li>
                    }
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new {area = ""})" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">
                    @* Logout img *@
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>